.top-bar {
    .top-bar-nav {
        margin-top: 5px;
    }
    a {
        color: #666;
        font-size: 12px;
        font-weight: 600;
    }
    .top-bar-text-4 {
        a {
            margin-right: -29px;
        }
    }
}
